section{
    width: 100%;
    background-color: #002a74;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pesquisa{
    position: relative;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.pesquisa input{
    padding: .5rem;
    outline: none;
    height: 2rem;
    border-radius: 10px;
}

.pesquisa button{
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 13rem;
    border-radius: 50%;
    border: 1px solid #A7F901;
    background-color: #002a74;
    color: #A7F901;
    transition: .3s;
}

.pesquisa button:hover{
    border: 1px solid #002a74;
    background-color: #A7F901;
    color: #002a74;
}

.card-jogador img{
    width: 40%;
    margin-bottom: .5rem;
}

.card-jogador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #163f86;
    color: #A7F901;
    margin: 3rem 2rem;
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (min-width:1000px) {
    .card-jogador{
        width: 30%;
    }
    section{
        justify-content: flex-start;
        align-items: center;
    }
}


.card-jogador .card-header img{
    width: 100%;
}
.card-jogador .card-header span{
    position: absolute;
    margin-left: 1rem;
    font-size: 25px;
}

.stats-player{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.stats-player li{
    font-size: 18px;
}
.stats-player li span{
    font-size: 22px;
    font-weight: 700;
}


.stats-player .assistencias{
    margin: .5rem 0;
}

.time{
    margin-bottom: 2rem;
}